<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= member.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/team/<%= member._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="member[name]" value="<%= member.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="member[title]" value="<%= member.title %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="textarea" name="member[description]" value="<%= member.description %>">
                </div>
                <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" class="form-control" name="member[image]" id="img">
                    <img src="#" id="imgPreview" alt="">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/team">Go Back</a>
        </div>
    </div>
</div>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#img").change(function() {
        readURL(this);
    });
</script>
<% include ../partials/footer %>