<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1 color="green">Meet Our Team</h1>
             <p>
                <p>Our young team is working selflessly against social evils to make a
                difference in the lives of people, who deserve to be happy, educated,
                working and live with dignity. Through our projects we work for
                creating a meaningful impact.</p>
                <a class="btn btn-primary btn-large" href="/team/new">Add New Member</a>
             </p>
         </div>
     </header>
      <div class="col-sm-12" >
    <h3 style="color:green; text-align: center">The Volunteers</h3>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
Volunteers are the lifeline of any organization. We feel great that we got people who out of their busy schedules come forward and serve society for making a difference. Here are a few of our stars-
</p>  </div>  </div>
	  </div>
      <div class="row">
    <div id="myid" class="col-sm-6" >
      <br><br>
    <ul style="list-style-type:circle">
        <li><h5 style="color:green;">Kanika  – “ The Solution”</h5>
            <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
             Precision and knowledge are her strong points. She is the one who takes care of the details and work well to draw inferences from heaps of data. She is always eager to take up new challenges and ensures highest standard of code of conduct and discipline is followed in the functioning of the operations.
              </p></li>
        <li><h5 style="color:green;">Kanishka – “Keep going girl”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
    Wonderful by nature is what describes her best. All projects and operations of the NGO are closely monitored by her. She is having deep insight knowledge about how things actually work and how to be prepared in advance for bad times. She is the one who works hard and party harder.
             </p></li>
        <li><h5 style="color:green;">Manisha - “Talent”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            Beauty with brains is what defines her best. Very much passionate to serve the society and to find permanent solutions to the problem differentiates her. She is blessed with very good writing and presenting skills.
          </p></li>
        <li><h5 style="color:green;">Aashita - “Reliable”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            Workaholic, perfectionist or most amazing performer is always ready to take up the most challenging job and her easiness in achieving results makes her very popular among peers. She is the one who only believes in achieving highest of the standard and always plan to get the task go smoothly. 
</p></li>
        <li><h5 style="color:green;">Ishita - “Passionate”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            Talented management graduate with good marketing and presentation skills. She possesses a great amount of energy and passion to keep moving the things continuously for the good of the NGO. She loves fun and play at work along with achieving the results before deadline.
 </p></li>
        <li><h5 style="color:green;">Hemant – “Powerhouse”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            A motivated and informed person always gets reasons and ways to contribute to the society. This ‘Happy go lucky’ is an Arts student with beautiful understanding of human relations and their importance. He is a positive and a power house. He sets new standards every time he steps in.
 </p></li>
        <li><h5 style="color:green;">Dimple – “Performer”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            Speaks less, smiles more and works even more is what she is. A multitalented with HR background is well versed in the art of organizing. A genuine team player with her 24 carat smile is always ready for challenges and delivers them well too.  
 </p></li>
        <li><h5 style="color:green;">Harsh- “Result Oriented”</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            A calm personality, great listener and huge amount of patience are his strong points. He is having ample of experience in dealing and making people from slums to understand the value of hygiene and education. In all the visits to slum areas he is a regular part of the team and continuously works for the effective execution of the projects.
 </p></li>
        <li><h5 style="color:green;">	Tusharika-</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
        She is always engaged in making NGO diversified into more and more new areas which can be served. She possesses a great zeal of enthusiasm to serve the society backed up by the knowledge, practicality and politeness to get her going.
     </p></li>
        <li><h5 style="color:green;">Pratibha-</h5>
           <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
She has great enthusiasm and always takes people along with her on a roller coaster ride of achieving great results in difficult circumstances. She makes people comfortable & allows them to easily open up with her. And not to forget she is a great team player and regular performer.
     </p></li>        
             </ul> 	
	 </div>
    <div id="myid" class="col-sm-6" >
          <br><br>
		  <ul style="list-style-type:circle">
       
    <li><h5 style="color:green;">Pankaj - “Mr. Creative”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
        The creative is addicted to designing and editing and is responsible for all the NGO related promotional stuff. His hobby is his passion and he considers NGO is his home. Hardworking and pleasant personality can always be located near happiness and fun.
		</p>
	<li><h5 style="color:green;">Surjeet - “ SIR”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
The jack of all trades is a fun loving person with expertise in marketing field. His god gifted soft skills earns him a lot of friends. He is one of the think tanks of the NGO and work continuously for the allocation of resources in the most judicial way. 
		</p>	
    <li><h5 style="color:green;">Nidhi - “ Laughter Queen”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
        The Power house of zest and enthusiasm in NGO is always full due to her. She is a working professional and a very experienced person in solving tricky problems. She always lifts everyone mood with her funny talks and always delivers her best consistently. 
</p>	
    <li><h5 style="color:green;">Abdul Basit- “Guruji”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
The backbone, advisor and well wisher of the NGO is the humblest person one can ever see. With his ample of experience in leading big and small teams and handling variety of projects, he has always been a perfect leader. He is currently training the young team. The best thing everyone loves about him is that he is available for people and also understands them well too. His‘make it easy’ approach earns him the ‘adorable’ tag among the team.
		</p>	
    <li><h5 style="color:green;">Kritie- “Curious one”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
        Honest, polite and curious one is what she is. Always available for NGO for all the tasks is what makes her favorite. She believes in high ethical and moral values and is a very pleasing personality to have around.
</p>	
    <li><h5 style="color:green;">Sanjeet - “Positive”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
        Exceptional writing & speaking appropriate Hindi skills differentiates him from the rest.  He has a good experience in print media and also takes care of the media promotion of the NGO. His strong points are his simplicity & straightforwardness. He is always willing to lend a hand for help.
</p>	
    <li><h5 style="color:green;">	Amarjeet - “Techie”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
        The perfect teenager is a classic example of talent with humbleness. He manages all the social media for the NGO and helps the team too in acquiring necessary technological skills to be updated. His strength is the ability to satisfy continuously with his performance.
</p>	
    <li><h5 style="color:green;">Amish – “Straight Forward”</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
He too adds into the list of introverts who are great performers. A very decent, polite and humble person acquiring a degree in Management and being one of the great contributors in donation drives of NGO.  His dedication acts as motivation for others too. He is a regular member of survey teams.
		</p>	
    <li><h5 style="color:green;">Abhilasha-</h5>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
        Funny, entertaining and talented girl works with grace and the zeal to achieve things before deadline.  In social service area she is exceptional. Always ready for field visits and in organizing tasks. She is great at establishing contacts and carrying out researches. 
		 </p>	
    	
        </ul>  </div>
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% members.forEach(function(item){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <h4 class= "title"><%= item.name %></h4>
                   <div class="caption">
                       <em><%= item.title %></em>
                   </div>
                   <p>
                       <%= item.description %>
                   </p>
                </div>
                  <a class="btn btn-xs btn-warning" 
                     href="team/<%=item._id %>/edit">Edit</a>
                  <form class="delete-form" action="/team/<%=item._id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                  </form>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
</body>
</html>