<!DOCTYPE html>
<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1 color="green">Meet Our Team</h1>
             <p>
                <p>Our young team is working selflessly against social evils to make a
                difference in the lives of people, who deserve to be happy, educated,
                working and live with dignity. Through our projects we work for
                creating a meaningful impact.</p>
                <a class="btn btn-primary btn-large" href="/team/new">Add New Member</a>
             </p>
         </div>
     </header>
    <div class="col-sm-12" >
        <h3 style="color:green; text-align: center">The Volunteers</h3>
        <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px;">
            Volunteers are the lifeline of any organization. We feel great that we got people who out of their busy schedules come forward and serve society for making a difference. Here are a few of our stars-
        </p>
    </div>
    <div class="row">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% members.forEach(function(item){ %>
            <div class="col-md-3 col-sm-6">
                <div id="memberThumbnail" class="thumbnail">
                    <% if(!item.image) { %>
                        <img id="displayMemberImage" class="img-thumbnail" id="noimage" src="/member_images/noimage.png">
                    <% } else {%>
                        <img id="displayMemberImage" class="img-thumbnail" src="/member_images/<%= item._id %>/<%= item.image %>">
                    <% }%>
                    <h4 class= "title"><%= item.name %></h4>
                    <div class="caption">
                       <em>"<%= item.title %>"</em>
                    </div>
                    <p>
                       <%= item.description %>
                    </p>
                </div>
                  <a class="btn btn-xs btn-warning" 
                     href="team/<%=item._id %>/edit">Edit</a>
                  <form class="delete-form" action="/team/delete-member/<%=item._id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                  </form>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
</body>
</html>