<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Our Projects Page!!</h1>
             <p>
                <a class="btn btn-primary btn-large" href="/projects/new">Add New Project</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% projects.forEach(function(item){ %>
            <div class="col-md-3 col-sm-6">
                <div id="productThumbnail" class="thumbnail">
                   <% if(!item.image) { %>
                    <img id="displayProductImage" class="img-thumbnail" id="noimage" src="/project_images/noimage.png">
                   <% } else {%>
                    <img id="displayProductImage" class="img-thumbnail" src="/project_images/<%= item._id %>/<%= item.image %>">
                   <% }%>
                   <div class="caption">
                       <h4><%= item.name %></h4>
                   </div>
                   <div class="details">
                       <p><%= item.description.toString().slice(0,100) %>...</p>
                   </div>
                </div>
                <p>
                   <a href="/projects/<%= item._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>