<% include ../partials/header %>
<div class="container">
    <div class="row">
       <!-- <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div> -->
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="/project_images/<%= project._id %>/<%= project.image %>">
                <div class="caption-full">
                    <h4><a><%=project.name%></a></h4>
                    <p><%= project.description %></p>
                    <p>
                        <em><%= project.duration %></em>
                    </p>
                    <% if(currentUser && project.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/projects/<%= project._id %>/edit">Edit</a>
                        <form class="delete-form" action="/projects/delete-project/<%= project._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <% }%>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% galleryImages.forEach(function(image){ %>
                <% if (image != "thumbs") { %>
                <div class="col-md-3 col-sm-6">
                    <div  id="memberThumbnail" class="thumbnail">
                        <a data-fancybox="gallery" href="/project_images/<%= project._id %>/gallery/<%= image %>">
                        <img src="/project_images/<%= project._id %>/gallery/<%= image %>" alt="">
                    </div>
                </div>
                <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>